.hero {
  position: absolute;
  top: 0px;
  z-index: 2;
  left: 25px;
  top: calc(100vh - 400px);
  background-color: rgba(67, 67, 67, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.hero h3 strong {
  font-size: 42px;
  color: #f55d2f;
}
