footer {
  background: rgb(67 67 67);
  padding: 30px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 100px;
}

footer strong {
  font-size: 20px;
}

.socials {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.footer_pages h2 {
  font-size: 17px;
  font-weight: normal;
}

.footer_pages h5 {
  font-size: 18px;
}

.footer_pages {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
