.about_us {
  color: black;
}

.team_img {
  margin-top: 15px;
}

.member {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping by default */
  margin-top: 30px;
  gap: 0px 25px;
}

.member_img {
  width: 200px; /* Fixed width for the image */
  border-radius: 5px;
}

.member_info {
  flex-grow: 1; /* Allow the info section to grow to fill available space */
}

.member_achievements {
  margin-top: 15px;
  margin-left: 15px;
}

/* Additional styles for paragraphs and slogan */
.about_us p {
  margin-top: 15px;
}

.about_us_slogan {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.team_img {
  border-radius: 5px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .member {
    flex-wrap: wrap;
  }

  .member_img {
    width: 100%;
  }
}
